<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
<embed src="https://github.com/ddhangdd/ddhangdd.github.io/blob/master/pdf/HW_2.pdf" type="application/pdf"/>
<li><a href="https://www.linkedin.com/in/desmond-fung/">LinkedIn!</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:dfung2@wisc.edu">Email</a></li>
   <li><a href="https://github.com/ddhangdd">My GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
